body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    
}

.hr {
   
   text-decoration: none;
   text-transform: uppercase;
   background-color: antiquewhite;
   margin: 10px 30px;
   text-align: center;

}

li {
    display: inline-block;
    border-bottom: 2px solid black;
    margin: 15px;
}

h3{
    border-bottom: 2px solid black;
    margin-bottom: 20px;
    margin-top: 50px;
}

.pr {
    margin: 40px 30px;
}
p{
    margin-bottom: 25px;
}